# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

*.sql
*.sqlite
*.db

*.sh
!/script/*.sh
*.test
.*.local
coverage.out
/bin
/dist
# intellij files
.idea/
vendor/
.DS_Store
.vscode
# vim temp files
*.swp

# goenv local version. See https://github.com/syndbg/goenv/blob/master/COMMANDS.md#goenv-local for more info.
.go-version

_curl_testing.*
public/*
!public/script.js
!public/index.html
!harvest_and_push.sh
